body{
    background-color: #ffb8b8;
}

input {
    width: 100px;
    height: 30px;
    font-size: 16px;
    margin-bottom: 15px
}

.botones {
    display: flex;
    justify-content: left;
    gap: 5px;
    margin-bottom: 15px
}

button {
    padding: 10px 15px; 
    font-size: 16px; 
    border: red;
    border-radius: 5px;
}

button:hover {
    background-color: #ff0000;
    color: white;
}
